/*导航部分*/
#nav{
    background-color:dimgray;
    height:80px;
    width:100%;
    display:flex;
    justify-content:space-between;
}
#nav span{
    margin:auto 20px;
    font-size:50px;
    color:white;
}
#nav a{
    width:110px;
    height:25px;
    margin:auto 20px;
    font-size:20px;
    font-weight:300;
    color:black;
    text-decoration:none;
    background-color:white;
    border:solid black 1px;
    border-radius:6px;
    text-align:center;
}
/*表单部分*/
#form{
    width:70%;
    min-height:80px;
    margin:12px auto;
    padding:20px;
    background-color:white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1) ;
    border-radius: 8px;
}
#form form{
     display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:0px;
    font-size:20px;
    margin:auto 0;
}
#form form label{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #333;
    gap:10px;
}
#form form label:last-child{
    flex-direction:row;
    gap:5px;
    justify-content:flex-start;
    margin-top: auto;
    min-width: auto;
    font-size:20px;
}
#form input[type="text"],
#form select{
    padding: 5px;
    font-size:16px;
    margin:auto 0;
    font-weight: 500;
}
#form button{
    font-size:16px;
    padding:8px 16px;
    border-radius:4px;
    border:solid 1px;
}
#research{
    background-color:#4a90e2;
    color:white;
    border-color:black;
}
/*表格部分*/
#tb{
    width:100%;
    margin:20px auto;
}
table{
    width:90%;
    table-layout:fixed;
    border-collapse:collapse;
    margin:auto;

}
#tHead{
    background-color:dimgray;
    color:white;
    text-align:center;
    font-weight:700;
    height:40px;
    font-size:18px;
}
table td{
    border:solid black 1px;
    padding:8px;
    text-align: center;
    font-size:16px;
}
#tb table td img{
    border-radius:50%;
    object-fit:cover;
    border:1px solid gray;
}

/*页尾部分*/
#footer{
    width:100%;
    height:60px;
    background-color:dimgray;
    text-align:center;
}
#footer p{
    font-size: 16px;
    color:white;
}